body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;
  }
  
  .container {
    text-align: center;
  }
  
  .scoreboard {
    margin-bottom: 20px;
  }
  
  .score {
    font-size: 18px;
  }
  
  .choices {
    display: flex;
    justify-content: space-around;
  }
  
  .player-choice,
  .computer-choice {
    flex-basis: 45%;
  }
  
  button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
  }
  